<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="newlogo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>OBJY Programming Environment</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="The most natural, flexible and simple technology to build and run real use cases.">
    <meta name="keywords" content="digitalisation, apps, platform, collaboration">
    <meta name="viewport" content="width=device-width" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/solarized-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="assets/css/leto.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    
    <style type="text/css">
    body {
        color: #66615b;
        font-size: 16px;
        font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
        height:100%;
    }

    html {
        height:100%;
    }

    .leto-frame-dark {
        height:100%;
    }
    </style>
</head>

<body>


    <div class="leto-frame-dark" id="app">

        <div class="leto-container-full leto-p-xl leto-pt-none leto-pb-none">
            
            <div class="leto-card leto-bg-black leto-width-full leto-text-white leto-border-none leto-pb-none leto-roundness-md leto-p-xl">
               
                <div class="leto-group leto-vertical-center">
                    
                    <div class="leto-mr-lg">
                        <img src="newlogo.png" style="width: 50px;"> <img src="objy.png" style="width: 100px;"> 
                    </div>

                    <a class="leto-mh-sm">
                        Get it
                    </a>

                    <a class="leto-mh-sm">
                        Docs
                    </a>
                </div>

                <br>

                <div class="leto-group leto-horizontal-center leto-mt-xl">

                    <div class="leto-group leto-mt-xxl">
                         <div class=" leto-text-xxl leto-text-center">
                            An open source programming framework that brings data-objects to life,<br> making real-life use cases easy to implement
                        </div>
                    </div>

                    <br>

                </div>

                <div class="leto-group leto-width-full leto-horizontal-center leto-mt-xl">
                <div class="leto-column leto-width-half leto-mt-xxl leto-ph-xl">
                    <div class="leto-group leto-vertical-center leto-horizontal-left leto-text-white">
                        <div class="leto-group leto-text-xl leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click" v-for="item in langs" v-on:click="currentLang=item">
                            <div class="leto-bubble-xxs" v-bind:class="{'leto-bg-white': currentLang==item}"></div>
                            <div>{{item}}</div>
                        </div>
                    </div>
                    <div class="leto-width-full" v-show="currentPreview==1">
                        <pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >// define a yogurt that handles expiration itself
objy.object({
   name: "yogurt",
   expires: {
      date: "2020-10-10",
      action: "self.expired=true"
   }
}).add()
</code>
<code class="javascript" v-show="currentLang=='CLI'" style="font-size:20px;background:#232323;padding:20px" >// ...
add object with name=Yourt,expires={date: "2020-10-10",action: "self.expired=true"}
</code>
</pre>
</div>

<div class="leto-width-full" v-show="currentPreview==2">
<pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >// define a yogurt that handles expiration itself
objy.object({
   name: "yogurt",
   _onChange: {
    checkDate: {
      value: "asf"
    }
   }
}).add()
</code>
<code class="javascript" v-show="currentLang=='CLI'" style="font-size:20px;background:#232323;padding:20px" >// ...
add object with name=Yourt,_onChange={checkDate: {value: "asf"}
</code>
</pre>
</div>

<div class="leto-width-full" v-show="currentPreview==3">
<pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >// add an object
objy.object({name: 'Anythin'}).add()

// query objects
objy.objects({name: 'Anythin'}).get()

// get a particular object by id
objy.object("123").get()

// delete an object
objy.object("123").remove()
</code>
<code class="javascript" v-show="currentLang=='CLI'" style="font-size:20px;background:#232323;padding:20px" >// define a yogurt that handles expiration itself
add object with name=Anything

get objects with name=Anything

get object 123

delete object 123
</code>
</pre>
</div>

<div class="leto-width-full" v-show="currentPreview==4">
<pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >// define you own object families with custom backends for storage, processor and observer
objy.define({
    name: 'user',
    pluralName: 'users',
    storage: new MongoMapper()
})

objy.user({name: 'Anythin'}).add()
</code>
<code class="javascript" v-show="currentLang=='CLI'" style="font-size:20px;background:#232323;padding:20px" >// define a yogurt that handles expiration itself
define with name=user, pluralName=users

add user with name=Anything
</code>
</pre>
</div>
                    </div>

                    <div class="leto-width-third leto-mt-xxl">
                        <div class="leto-mt-xxl">
                             <div class="leto-group leto-text-xl leto-mt-sm leto-vertical-center leto-horizontal-left leto-click" v-for="item in previewItems" v-on:click="currentPreview=item.index">
                                <div class="leto-bubble-xxs" v-bind:class="{'leto-bg-white': currentPreview==item.index}"></div>
                                <div>{{item.name}}</div>
                            </div>
                        </div>
                    </div>
            </div>

            </div>

        </div>


        <div class="leto-container-full leto-p-xl ">

            <div class="leto-group leto-horizontal-center">

             <div class="leto-button leto-ml-none">
                 JavaScript <span class="leto-ml-xs fa fa-chevron-right"></span>
             </div>

             <div class="leto-button">
                 CLI<span class="leto-ml-xs fa fa-chevron-right"></span>
             </div>

             <!--div class="leto-button">
                 OBJY UI<span class="leto-ml-xs fa fa-chevron-right"></span>
             </div-->

            </div>
             
            <div class="leto-text-xs leto-text-lighter-grey leto-p-xxl">OBJY is open source and released under the MIT License.</div>
        </div>


    </div>

<script>
hljs.initHighlightingOnLoad();
</script>
</body>
<script type="text/javascript" src="index.js"></script>
</html>
