<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>OBJY - Abstract, Powerful JS Objects</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="The most natural, flexible and simple technology to build and run real use cases.">
    <meta name="keywords" content="digitalisation, apps, platform, collaboration">
    <meta name="viewport" content="width=device-width" />
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/zenburn.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <link rel="stylesheet" href="assets/css/leto.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <style type="text/css">
    body {
        color: #66615b;
        font-size: 16px;
        font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
        height: 100%;
        letter-spacing: 0.9px;
    }

    html {
        height: 100%;
    }

    .leto-frame-dark {
        height: 100%;
    }

    .leto-text-xxxl {
        font-size: 40px;
    }

    .feature {
        display: inline-grid;
        background: #151515;
        padding: 10px;
        height: 10px;
        width: 10px;
        border-radius: 100px;
        font-size: 17px;
        margin: 10px;
    }

    .feature-hightlight {
        border: 2px solid #AAAAAA;
    }

    .feature-large {
        background: #1c1c1c;
        padding: 20px;
        border-radius: 5px;
        font-size: 17px;
        margin: 10px 25px;
        display: inline-grid;
        width: 250px;
    }

    @media (max-width: 1440px) {

        .leto-full-tablet-pc {
            width: 100% !important;
        }


    }

    .scroll-h {
        max-width: 100%;
        overflow: scroll;
        white-space: nowrap;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;
    }

    .scroll-h::-webkit-scrollbar {
        display: none;
    }

    </style>
</head>

<body class="leto-frame-dark">
    <div class="leto-frame-dark" id="app">
        <div class="leto-container-full leto-pt-none leto-pb-none">
            <div class="leto-card leto-bg-black leto-width-full leto-text-white leto-border-none leto-pb-none leto-roundness-md">
                <div class="leto-group leto-vertical-center scroll-h" v-if="true">
                    <div class="leto-mr-lg">
                        <b>OBJY</b>
                    </div>
                    <div class="leto-left leto-mb-sm">
                        <div class="leto-group leto-vertical-center leto-horizontal-left leto-text-white">
                            <!--div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click">RUNS WITH:</div-->
                            <div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click" v-for="item in langs" v-on:click="currentLang=item">
                                <div class="leto-bubble-xxs" v-bind:class="{'leto-bg-white': currentLang==item}"></div>
                                <div>{{item}}</div>
                            </div>
                        </div>
                    </div>
                    <!--div class="leto-mh-sm">
                        <div class="leto-button leto-border-none leto-ml-none" v-on:click="showInstallInstructions = !showInstallInstructions">
                            <span v-if="!showInstallInstructions">Install</span><span v-else>Close</span>
                        </div>
                    </div-->
                    <div class="leto-mh-sm">
                            <a href="/docs#/./DOCUMENTATION" class="leto-button leto-ml-none leto-border-none">
                                Docs
                            </a>
                            <a href="/docs#/./MAPPERS" class="leto-button leto-ml-none leto-border-none">
                                Mappers
                            </a>
                            <a href="/docs#/./SPOO" class="leto-button leto-ml-none leto-border-none">
                                SPOO
                            </a>
                            <a href="https://github.com/objy-org/objy" target="_blank" class="leto-button leto-ml-none leto-border-none">
                                <span class="fab fa-github"></span>
                            </a>
                    </div>
                    <!--div class="leto-mh-sm">
                        <a href="https://objy-org.github.io/docs" target="_blank" class="leto-button leto-border-none leto-ml-none">
                            Docs <span class="fa fa-chevron-right leto-ml-xs"></span>
                        </a>
                    </div-->
                    <!--a class="leto-mh-sm">
                        Docs
                    </a-->
                </div>
                           
<div class="leto-group leto-horizontal-center leto-mt-xl leto-mb-xxl">
                    <div class=" ">
                       
                             <center class=" leto-mb leto-group leto-vertical-center">
               
                    <div class="leto-text-xl leto-text-left leto-text-lighter-grey leto-width-full-tablet" v-show="!showInstallInstructions">
                            <img src="objy.png" style="width: 100px;display:inline-block">- Abstract JS objects for building real use cases

                        </div>
                </center>
                

                    </div>
                </div>
               
                
                <div class="leto-group leto-horizontal-center leto-mb-xxl" v-if="false">
                    <div class="leto-full leto-group">
                        <div class="leto-full leto-full-tablet-pc">

                            <div class="leto-full leto-full-tablet-pc">
                            <div class="leto-group -scroll-h leto-horizontal-center">
                                <div class="leto-text-white">
                                    <!--div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click">
                                        EXAMPLES:</div-->
                                    <div class="feature-large" v-for="(item, i) in applications">
                                        <span v-if="item.html" class="leto-m" v-html="item.html"></span>
                                        <b class="leto-text-xl">{{item.name}}</b>
                                       
                                        <div class="leto-text-sm leto-mh-xs">{{item.details}}<br><br>
                                            <span v-if="item.link">
                                        
                                            <a class="leto-text-md" v-bind:href="item.link.url">{{item.link.label}}</a></div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="leto-group leto-horizontal-center ">
                    <div class="leto-four-fifths leto-full-tablet-pc leto-group">
                        <div class="leto-full leto-full-tablet-pc" style="font-size:20px;background:#232323;padding:20px">

                            
                            <div class="leto-group leto-horizontal-center">
                                <div class="leto-fulle leto-full-tablet-pc leto-group">
                                    <div class="leto-full leto-full-tablet-pc leto-vertical-center">
                                        <div class="leto-group -scroll-h leto-full leto-horizontal-center">
                                            <div class="leto-text-white">
                                                <!--div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click">
                                                    EXAMPLES:</div-->
                                                
                                                <div class="feature" v-for="(item, i) in examples" v-on:click="currentExample=i" v-bind:class="{'feature-hightlight': currentExample==i}">
                                                    <!--center v-if="currentExample==i"><i class="fa fa-chevron-up leto-mb-sm"></i></center-->
                                                   
                                                    <!--<img style="max-height:50px" :src="'assets/img/'+item.icon">
                                                    
                                                    {{item.name}}-->
                                                </div>

                                                <!--a href="docs/#/DOCUMENTATION" class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-text-dark-grey leto-horizontal-left leto-click">
                                                    + more
                                                </a-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <pre style="border-radius: 10px" class="leto-block">
                                <!--div class="leto-text-white" style="float:right;margin-top: 100px;" v-on:click="loadExample()"><span class="fa fa-chevron-right"></span></div-->
                                <code class="javascript" style="font-size:20px;background:#232323;padding:20px" v-html="examples[currentExample].code"></code></pre>
                        </div>
                    </div>
                </div>
                <br>
                
                <!--center><div class="leto-text-xxl leto-m" name="applications" id="applications">Ecosystem</div> &nbsp; (<a href="docs/#/./ECOSYSTEM">more</a>)</center>
                <br-->
                
                <center>
                         <img class="" src="assets/img/objy-arch-objects-slim.png" class="leto-width-full-tablet" style="max-width:100%;width:600px;border-radius: 10px">

                </center>
                
                <div class=" leto-text-xl leto-text-center leto-text-darker-grey leto-mt-xxl" v-show="!showInstallInstructions">
                    * Use abstract objects, that have a behaviour
                    <br>
                    * Objects live in-instance or in third-party technologies
                    <br>
                    * Buikt-in inheritance, events, actions and more
                </div>
                <!--div class="leto-group leto-horizontal-center leto-mt-xl">

                    <div class="leto-group leto-mt-xxl">
                          <div class="leto-group leto-vertical-center leto-horizontal-left leto-text-white">
                                <div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click" v-for="item in langs" v-on:click="currentLang=item">
                                    <div class="leto-bubble-xxs" v-bind:class="{'leto-bg-white': currentLang==item}"></div>
                                    <div>{{item}}</div>
                                </div>
                        </div>
                    </div>

                    <br>

                </div-->
                <!--div class="leto-group leto-horizontal-center leto-mt-xxl">
                    <div class="leto-group leto-mt-xxl">
                        <div class="leto-group leto-vertical-center leto-horizontal-left leto-text-white leto-text-xl">
                            Quick start
                        </div>
                    </div>
                    <br>
                </div>
                <div class="leto-group leto-horizontal-center leto-vertical-center">
                    <div class="leto-wrap leto-group leto-width-two-thirds leto-full-tablet-pc leto-horizontal-center leto-mt leto-vertical-center">
                        <div class="leto-column leto-full leto-mt-xxl  leto-vertical-center">
                            <div class="leto-text-xl leto-pb-xs">1. Install</div>
                            <div class="leto-width-full leto-vertical-center">
                                <pre style="border-radius: 10px"><br>
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >npm i objy
</code>
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px;overflow: hidden;" >&lt;script src="https://cdn.jsdelivr.net/npm/objy/dist/browser.js" />
</code>
</pre>
                            </div>
                        </div>
                        <!--div class="leto-full leto-third-tablet-pc leto-mt-xxl leto-vertical-center">
                            <div class="leto-mt-xl leto-vertical-center">
                                <div class="leto-text-xl">1. Install</div>
                                <br>
                                Get OBJY for your javascript environment. Use it in Node or in the browser.
                            </div>
                        </div->
                    </div>
                </div>
                <br>
                <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt">
                    <div class="leto-wrap leto-group leto-width-two-thirds leto-full-tablet-pc leto-horizontal-center leto-mt">
                        <!--div class="leto-full leto-third-tablet-pc leto-mt-xxl">
                            <div class="leto-mt-xl leto-vertical-right">
                                <div class="leto-text-xl">2. Define object wrappers</div>
                                <br>
                                Define, where your objects are stored, how they are processed and observed using an open and extendable mapper ecosystem.
                            </div>
                        </div->
                        <div class="leto-column leto-full leto-mt-xxl ">
                            <div class="leto-text-xl leto-pb-xs">2. Define your wrapper</div>
                            <div class="leto-width-full" v-show="currentPreview==1">
                                <pre style="border-radius: 10px">
<div class="leto-width-full">
<pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >OBJY.define({
    name: "object",
    pluralName: "objects"
})
</code>
</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="leto-group leto-horizontal-center leto-vertical-center">
                <div class="leto-wrap leto-group leto-width-two-thirds leto-full-tablet-pc leto-horizontal-center leto-mt">
                    <div class="leto-column leto-full leto-mt-xxl ">
                        <div class="leto-width-full">
                            <div class="leto-text-xl leto-pb-xs">3. Build objects</div>
                            <pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >OBJY.object({
    ...
    expires: {
       date: "2020-10-10",
       action: "this.remove()"
    }
})
</code>
</pre>
                        </div>
                    </div>
                    <!--div class="leto-full leto-third-tablet-pc leto-mt-xxl">
                        <div class="leto-mt-xl">
                            <div class="leto-text-xl">3. Build objects that live</div>
                            <br>
                            Represent anything with dynamic objects. Define behaviours to make them alive. OBJY will do the rest.
                        </div>
                    </div->
                </div>
            </div>
            <br>
            <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt ">
                <div class="leto-wrap leto-group leto-width-two-thirds leto-full-tablet-pc leto-horizontal-center leto-mt">
                    <!--div class="leto-full leto-third-tablet-pc leto-mt-xxl">
                        <div class="leto-mt-xl">
                            <div class="leto-text-xl">4. Use the simple interface</div>
                            <br>
                            Create, Read, Update, Delete. That's all it takes, the rest is handled by OBJY
                        </div>
                    </div->
                    <div class="leto-column leto-full leto-mt-xxl ">
                        <div class="leto-width-full">
                            <div class="leto-text-xl leto-pb-xs">4. Handle your objects</div>
                            <pre style="border-radius: 10px">
<code class="javascript" v-show="currentLang=='JS'" style="font-size:20px;background:#232323;padding:20px" >let myObj = OBJY.object({name: 'Anakin'})

myObj.setProperty('name', 'Luke')

myObj.type = 'person'

myObj.remove()
</code>
</pre>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="leto-group leto-horizontal-center leto-vertical-center leto-mt">
                <div class="leto-group leto-width-two-thirds leto-full-tablet-pc leto-horizontal-center leto-vertical-center leto-mt-xl">
                    <div class="leto-width-full leto-mt-xxl leto-text-center">
                        <div class="leto-mt-lg leto-group leto-horizontal-center leto-vertical-center">
                            <div class="leto-text-xl">powerful, yet simple features</div>
                        </div>
                        <div class="leto-mt leto-group leto-horizontal-center leto-vertical-center">
                            Inheritance, Persistence, User management, Acces-control, Pluggable mappers (MDB, InMem, Redis), Custom actions and more
                        </div>
                    </div>
                </div>
            </div>
            <div class="leto-container-full leto-p-xl ">
                <div class="leto-group leto-horizontal-center">
                    <a href="https://www.npmjs.com/package/objy" target="_blank" class="leto-button leto-ml-none">
                        <span class="fab fa-npm"></span>
                    </a>
                    <a href="https://github.com/objy-org/objy" target="_blank" class="leto-button leto-ml-none">
                        <span class="fab fa-github"></span>
                    </a>
                    <a href="https://objy-org.github.io/docs" target="_blank" class="leto-button leto-ml-none">
                        Docs <span class="fa fa-chevron-right leto-ml-xs"></span>
                    </a>
                </div>
            </div>
            <!--div class="leto-group leto-horizontal-center leto-vertical-center ">
                <div class="leto-group leto-width-two-thirds leto-horizontal-center leto-vertical-center leto-mt-xl">
                    <div class="leto-width-full leto-mt-xl">
                        <div class="leto-mt-lg leto-group leto-horizontal-center leto-vertical-center">
                            <div class="leto-text-xl">Runs on...</div>
                        </div>
                        <div class="leto-mt leto-group leto-horizontal-center leto-vertical-center">
                            <div class="leto-group leto-vertical-center leto-horizontal-left leto-text-white">
                                <div class="leto-group leto-mt-sm leto-mr leto-vertical-center leto-horizontal-left leto-click" v-on:click="currentLang=item">
                                    Node, Browsers
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div-->
            </div>
            <div class="leto-container-full leto-p-xl leto-text-center">
                <div class="leto-group leto-horizontal-center">
                </div>
                <div class="leto-text-xs leto-text-lighter-grey leto-p-xxl">OBJY is open source and released under the MIT License. Copyright (c) OBJY collaborators</div>
            </div>
        </div>
        <script>
        hljs.initHighlightingOnLoad();
        </script>
</body>
<script type="text/javascript" src="index.js"></script>

</html>
